<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="c432110f-b112-4a3f-815b-7b8369d0c49b"
    Publisher="CN=notla"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="c432110f-b112-4a3f-815b-7b8369d0c49b" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Inspire</DisplayName>
    <PublisherDisplayName>notla</PublisherDisplayName>
    <Logo>Assets\AppTiles\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Inspire.App">
      <uap:VisualElements
        DisplayName="Inspire"
        Square150x150Logo="Assets\AppTiles\Square150x150Logo.png"
        Square44x44Logo="Assets\AppTiles\Square44x44Logo.png"
        Description="Inspire"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\AppTiles\Wide310x150Logo.png" Square71x71Logo="Assets\AppTiles\SmallTile.png" Square310x310Logo="Assets\AppTiles\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\AppTiles\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>